*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
}

.container{
    max-width: 1140px;
    margin: auto;
}
.flex{
    display: flex;
    align-items: center;
}
.card,.top-card{
    margin-top: 1rem;
    padding: 20px;
    display: flex;
    border-bottom: 1px solid #D3E1FF;
    justify-content: space-between;
    color: #454545;
}

.form-card{
    z-index: -1;
    margin-top: 1rem;
    padding: 2px 20px;
    display: flex;
    border: 1px solid #C9C9C9;
    border-radius: 20px;
    justify-content: space-between;
    color: #454545;
}
.form-card-lower{
    margin-top: 0 !important;
    border: none !important;
    padding: 0px !important;
}
.form-bread-crum{
    color: #757575;
}
.form-bread-crum span{
    color: #457EFF;
}
.seo{
    display: flex;
    align-items: center;
    color: #757575;
}
.percent{
    padding: 10px;
  
    text-align: center;
}

.percent-yellow{
    background-color: #FFF1CB;
}

.percent-red{
    background-color: #FFCBBC;
}

.percent-green{
    background-color: #C6FFD5;
}

.seo>*{
    margin-right: 1rem;
}
.card>*{
    margin: 1rem 0
}
.card-left{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card .heading{
    color: #454545;
    font-size: 1rem;
    font-weight: 500;
    color: #457EFF;
}

.form-card .button{
    font-size: 1rem;
    background-color:  #F4F4F4;
    padding: 10px;
    border: none;
    color: #C9C9C9;
}
.published-select{
    color: #00A82D !important;
    background-color: white  !important;
}
.review-select{
    color: #FEBC07 !important;
    background-color: white  !important;
}
.draft-select{
    color: #757575 !important;
    background-color: white  !important;
}
.buttons-others button{
    font-size: 1rem;
    margin-right: 1rem;
    border: none;
    color: #A6A6A6;
    background-color:  #F4F4F4;
    padding: 10px;
}
.top-card .buttons-others {
    margin-left: -1rem;
}
.buttons-others {
    margin-left: 6rem;
    align-self: flex-start;
}
/* .buttons-others>*{
    margin-right: 2rem;
} */
.key{
    display: flex;
    align-items: center;
}
.key>*{
    margin-right: 1rem;
}
.draft{
    color: #757575;
    background-color: #F9F9F9;
    padding: 10px 20px;
    border: none;
}
.select{
    border-bottom: #00A82D 2px solid;
}
.selected-button{
    background-color: white !important;
    color: #757575 !important;
}
.review{
    color: #FEBC07;
    background-color: #FFF9EA;
    border: none;
    padding: 10px 20px;
}
.published{
    color: #00A82D;
    background-color: #EFFFF3;
    padding: 10px 20px;
}
.all{
    padding: 10px 20px;
    background-color: #ECF2FF;
    color: #457EFF;
}

.bread-crum{
    display: flex;
    color: #757575;
   
    align-self: flex-start;
}
.crumb{
    color: #C9C9C9
}
.bread-crum>*{
    margin-right: 1rem;
}

.bread-crum span{
    color: #457EFF;
}
.heading-checkbox{
    color: #757575;
    display: flex;
    align-items: baseline;
}
.heading-checkbox>*{
    margin-right: 1rem;
}
.heading-checkbox input{
    margin-right: 10px;
 
}
.top-card div{
    display: flex;
}
.selectors{
    border-bottom: 1px solid #D3E1FF;
    padding-bottom: 1rem;
}
.form-2 .selectors{
    z-index: -1;
    border-bottom: none;
    padding-bottom: 0rem;
}
.selectors select{
    margin-top: 2rem;
    border: none;
    font-size: 1rem;
    color: #457EFF;
    font-weight: 600;
    margin-right: 1rem;
}

.score{
    overflow: hidden;
  height: 20px;
  background: white;
  border: 1px solid #FEBC07;
  border-radius: 10px;
  margin-bottom: 0.6rem;
}
.score div{
    height: 100%;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    background:#FEBC07; 
}
.form-card{
    flex-direction: column;
    background-color: white;
}

.form-card>*{
    margin: 1rem 0;
}
.child-margin>*{
    z-index: -1;
    margin-right: 2rem;
}
.gap-between{
    justify-content: space-between;
}
.score-grid{
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-gap: 1rem;
}

.form-card form{
    display: flex;
    flex-direction: column;
}

.form-card form input{
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    color: #454545;
    margin-top: 1rem;
}
.form-card form textarea{
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    color: #454545;
    margin-top: 1rem;
    resize: none;
}

.blog-data{
    z-index: -1;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
}
.blog-data h1, .blog-data h3{
    color: #454545;
}
.blog-data p{
    color: #757575;
}
.blog-data>*{
    margin: 1rem 0;
}
.user-name-data{
    align-self: center;
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.blog-image{
   height: 80%;
    height: auto;
    align-self: center;
}
.recommended{
    margin-left: 1rem;
}
.recommended>*{
    margin: 0.5rem 0;
}
.blog-data input{
    width: 100%;
    padding: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    color: #454545;
}

.button-light{
    border: 1px solid #457EFF;
    background-color: white;
    color: #457EFF;
}

.button-dark{
    background-color:#457EFF;
    color: white;
    border: none;
}
.button-div{
    align-self: center;
}
.btn{
    padding: 10px 30px;
    font-size: 1rem;
    border-radius: 5px;
}
.form-card select{
    width: 15%;
    margin: 1rem 0;
    border: none;
    font-size: 1rem;
    color: #757575;
}

.form-card input[type='date']{
    width: 15%;
    border: none;
    font-size: 1rem;
    color: #757575;
}
.add-page{
    position:absolute;
    top: -2rem;
    right: 1rem;
}

.form-2{
    z-index: -1;
    width: 1440px;
    display: flex;
    align-items:center;
    /* margin-top: 1rem; */
    justify-content: space-around;
}
.form-2 .selectors select{
    margin-top: 0px;
}

.form-2 .button{
    background-color: white;
}

.form-2 .button ~ .selected{
    background-color: #EBFFF0 !important;
    border: 1px solid #00A82D !important;
    border-radius: 10px !important;;  
}
.form-2-card select{
    width: 100%;
}
.form-2-card input[type='date']{
    border: 1px solid #D9D9D9;
    margin-left: 10px;
}
.form-2-container{
    width: 1440px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 1rem;
}
.form-right{
    align-self: flex-start ;
    padding: 15px 20px!important;
    margin-top: 1.3rem;
    cursor: pointer;
}

.blog-container{
    max-width: 1440px;
    margin: auto;
    display: flex;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.blog-component-selector{
    margin-left: 1rem;
    width: 30%;
    border-radius: 8px;
    background: #F3F3F3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    float: left;
    z-index: -1;
}
.blog-component-card{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}
.blog-component-card select{
    border: none;
    color: #0AB5FF;
}
.blog-heading h2{
    color: #757575;
    font-size: 1.2rem;
    font-weight: bolder;
}
.blog-heading, .author-info, .author-image-desc,.author-image-desc-3{
    padding: 20px;
    border-radius: 9px;
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
}
.blog-heading .user-name-data{
    color: #757575;
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    width: 50%;
}
.author-info {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}
.author-info img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid #0AB5FF;
}

.author-info h3,.author-image-desc h3,.author-image-desc-3 h3{
    color: #0AB5FF;
    font-size: 1.2rem;
    font-weight: bolder;
}
.author-info p{
    color: #757575;
    font-size: 8px;
}
.author-image-desc,.author-image-desc-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 30px;
}
.author-image-desc p,.author-image-desc-3 p{
    font-size: 1rem;
    color: #757575;
    width: 75%;
}
.author-image-desc>*{
    margin: 10px 0;
}
.author-image-desc img{
    margin-bottom: 10px;
    height: 180px;
    width: 180px;
}
.author-image-desc-3 img{
    height: 180px;
    width: 140px;
    object-fit: cover;
    border-radius: 20px;
}
.author-image-desc-3{
    flex-direction: row;
}
.author-image-desc-3 div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.author-image-desc-3>*{
    margin: 0 10px;
}
.author-image-desc-3 div p{
    text-align: left !important;
} 
.author-image-desc-3 p{
    width: 100%;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent black background */
    z-index: 1; /* Ensure the overlay is on top of other content */
    cursor: pointer;
    /* display: flex; */
  }

  .overlay-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.10);
    color: #454545;
}

.notes-overlay{
    position: fixed;
    top: 6rem;
    left: 20rem;
    width: 800px;
    height: 300px;
    padding: 3rem 6rem;
    color: #454545;
}
.line {
    border-bottom: 1px solid #FFDCEC;
    width: 100%;
  }

  .notes-overlay .flex{
    justify-content: space-between;
  }
  .note{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .note p{
    margin-right:5px;
  }
.notes>*, .notes-overlay>*{
    margin: 15px 0;
}

.arrows{
    display: flex;
    flex-direction: column;
}
.filters .flex{
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

.filters{
    display: flex;
    justify-content: space-between;
    align-items: center;   
    color: #457EFF;
}
.filters .flex p{
    margin: 0 10px;
}
.filters-input label{
    color: #457EFF;
}
.filters-input select{
    width: 150px;
    border: none;
    border-radius: 10px;
    background-color: #ECF2FF;
    padding: 5px;
    color: #457EFF;
}
.filters-input{
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
    border-bottom: 1px solid #D3E1FF;
    padding: 10px;
}
.letters{
    background-color: #F4F4F4;
    padding: 10px;
    margin: 0 10px;
}
.edit{
    background-color: #ECF2FF;
    padding: 10px;
}
.letters p{
    width: 80px;
}
.edit p{
    width: 100px;
}
.words{
    align-self: flex-end;
    color: #757575;
    font-weight: 600;
}
.bread-crumb{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 6rem;
    align-self: flex-start;
    width: 90%;
    justify-content: space-between;
}
.card input[type='checkbox']{
    appearance: none;
    border:  2px solid #F11A7B;
    background-color: white;
    position: relative;
    z-index: 0;
    width: 20px;
    height: 20px;
    top: 5px;
  }
  .card input[type='checkbox']::before{
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    line-height: 12px;
    color: #00A82D;
    transform: scale(0);
    transition: 0.3s all ease-in-out;
    z-index: 1;
    position: relative;
  }
  
  
  .card input[type='checkbox']:checked::before{
    transform: scale(1);
    content: '\2713';
    z-index: 1;
  }
  
  
  .card input[type='checkbox']:checked {
    border:  2px solid #00A82D;
  }

@import url('https://fonts.googleapis.com/css2?family=Lora&family=Manrope:wght@300;400&display=swap');

/* font-family: 'Lora', serif;
font-family: 'Manrope', sans-serif; */
.hero{
    font-family: 'Lora', serif;
    font-family: 'Manrope', sans-serif; 
    color: #1579FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
}
.logo{
    font-weight: 300;
    font-size: 4rem;
}

.hero .tagline{
    font-weight: 500;
    font-size: 4rem;
    margin-top: 1rem;
    max-width: 80%;
    text-align: center;
}
.hero svg{
    margin-top: 1.5rem;
}
.hero .tagline span{
    background-color:  #1579FF;
    color: white;
    padding: 0 15px;
}
.rectangle{
    background-color:#D9D9D9;
    height: 120px;
    width: 50px;
    position: relative;
    left: -18rem;
}
.lower-rectangle{
    top: 4rem;
}

.home-form{
    display: flex;
    align-items: center;
    margin-top: 2rem;
}
.home-form img{
   height: 50%;
   width: 50%;
}

.home-form .form-div{
    margin-left: 1.5rem;
    margin-top: 6rem;
}
.home-form .form-div>*{
    margin-bottom: 1.5rem;
}
.home-form form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.home-form form>*{
    margin-bottom: 1.5rem;
}
.form-div p{
    font-size: 2rem;
    color: #454545;
}
.form-div form label{
    font-size: 1.5rem;
    color: #454545;
    margin-right: 10px;
}
.form-div form input{
    border: 1px solid #1579FF;
    border-radius: 20px;
    padding: 5px;  
    width: 100%; 
}
.form-div form button{
    border-radius: 20px;
}
.home-section{
    padding: 0 2rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.home-section-1{
    background-color: #1579FF;
    color: white;
    
}
.home-section>*{
    margin-top: 2rem;
}

.home-section p{
    font-size: 1.5rem;
    width: 100%;
}

.home-section h1{
    font-size: 2.5rem;
    width: 70%;
    margin-left: 1rem;
}

.home-section-1 img[alt="aim"]{
    background-color: white;
    border-radius: 50%;
    padding: 1rem;
}
.home-section-2 img[alt="aim"]{
    background-color: #1579FF;
    border-radius: 50%;
    padding: 1rem;
}

.home-section .image-rectangles{
    display: flex;
    flex-direction: column;
}

.home-section .image-rectangles .rectangle{
    position: relative;
    left: 0;
    height: 70px;
}
.home-section-2{
    color: #454545;
}
.home-section-2 h1{
    width: 90%;
}

.home-card-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    grid-gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.home-card{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid #E6E6E6;
    color: #454545;
}
.home-card p{
    font-size: 1.5rem;
}
.home-card>*{
    margin-bottom: 1rem;
}
footer{
    background-color: #1579FF;
    color: white;
    height: 300px;
    display: flex;
    align-items: center;
}

footer .flex>*{
    margin-right: 10rem;
}

.home-card-grid-section .rectangle{
    position: relative;
    left: 14.3rem;
    height: 70px;
}

.mobile-view{
    display: none;
}

.aim-div{
    background-color: #1579FF;
    padding: 10px;
    border-radius: 50px;
}